@CHARSET "UTF-8";

#maincontainer {
	margin-top: 50px;
	padding-top: 20px;
	background-color: white;	
}

body {
	background-color: #f5f5f5;
}

.form-table {
	border-collapse: separate;
	border-spacing: 10px;
}

.sized-btn {
	width: 120px;
	height: 40px;
	background-color:Ivory;
}