<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Main_Project_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
    <init-param>
      <param-name>RegisterVar</param-name>
      <param-value>register</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.servlets.FrontController</servlet-class>
    <init-param>
      <param-name>ConfigVar</param-name>
      <param-value>TRConfig</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRequestServlet</display-name>
    <servlet-name>SendRequestServlet</servlet-name>
    <servlet-class>com.servlets.SendRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRequestServlet</servlet-name>
    <url-pattern>/SendRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackSession</display-name>
    <servlet-name>TrackSession</servlet-name>
    <servlet-class>com.servlets.TrackSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackSession</servlet-name>
    <url-pattern>/TrackSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>com.servlets.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorRequestUpdate</display-name>
    <servlet-name>SupervisorRequestUpdate</servlet-name>
    <servlet-class>com.servlets.SupervisorRequestUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorRequestUpdate</servlet-name>
    <url-pattern>/SupervisorRequestUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserViewRequest</display-name>
    <servlet-name>UserViewRequest</servlet-name>
    <servlet-class>com.servlets.UserViewRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserViewRequest</servlet-name>
    <url-pattern>/UserViewRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitGradeServlet</display-name>
    <servlet-name>SubmitGradeServlet</servlet-name>
    <servlet-class>com.servlets.SubmitGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitGradeServlet</servlet-name>
    <url-pattern>/SubmitGradeServlet</url-pattern>
  </servlet-mapping>
</web-app>