<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Week3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.revature.servlets.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormsServlet</display-name>
    <servlet-name>FormsServlet</servlet-name>
    <servlet-class>com.revature.servlets.FormsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormsServlet</servlet-name>
    <url-pattern>/FormsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Headers</display-name>
    <servlet-name>Headers</servlet-name>
    <servlet-class>com.revature.servlets.Headers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Headers</servlet-name>
    <url-pattern>/Headers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCookieServlet</display-name>
    <servlet-name>CreateCookieServlet</servlet-name>
    <servlet-class>com.revature.servlets.CreateCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCookieServlet</servlet-name>
    <url-pattern>/CreateCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveCookie</display-name>
    <servlet-name>RetrieveCookie</servlet-name>
    <servlet-class>com.revature.servlets.RetrieveCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCookie</servlet-name>
    <url-pattern>/RetrieveCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookie</display-name>
    <servlet-name>DeleteCookie</servlet-name>
    <servlet-class>com.revature.servlet.DeleteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookie</servlet-name>
    <url-pattern>/DeleteCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateSession</display-name>
    <servlet-name>CreateSession</servlet-name>
    <servlet-class>com.revature.servlets.CreateSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSession</servlet-name>
    <url-pattern>/CreateSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackSession</display-name>
    <servlet-name>TrackSession</servlet-name>
    <servlet-class>com.revature.servlets.TrackSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackSession</servlet-name>
    <url-pattern>/TrackSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteSession</display-name>
    <servlet-name>DeleteSession</servlet-name>
    <servlet-class>com.revature.servlets.DeleteSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteSession</servlet-name>
    <url-pattern>/DeleteSession</url-pattern>
  </servlet-mapping>
</web-app>