<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>180121_Week3_Project2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>ContextBob</param-name>
		<param-value>ContextBobbert</param-value>
	</context-param>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.revature.servlets.LoginServlet</servlet-class>
		<init-param>
			<param-name>LoginVar</param-name>
			<param-value>loginBobbert</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>SecurityFilter</display-name>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>com.revature.filters.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/user/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.servlets.FrontController</servlet-class>
		<!-- init-param goes inside the <servlet> tag as it aims to configure a 
			servletConfig variable, which means it is unique to THAT specific servlet. -->
		<init-param>
			<param-name>ConfigVar</param-name>
			<param-value>Bobbert</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<!-- This tag will cause this particular servlet to init() as soon as the 
			server is started. Should you use multiple load-on-startup tags, it will 
			load them based on the lowest number first, then upward. -->
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.html</location>
	</error-page>
</web-app>