<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.trms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.trms.servlets.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.trms.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserReimburseServlet</display-name>
    <servlet-name>UserReimburseServlet</servlet-name>
    <servlet-class>com.trms.servlets.UserReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReimburseServlet</servlet-name>
    <url-pattern>/UserReimburseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimburseServlet</display-name>
    <servlet-name>NewReimburseServlet</servlet-name>
    <servlet-class>com.trms.servlets.NewReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimburseServlet</servlet-name>
    <url-pattern>/NewReimburseServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UsersFilters</display-name>
    <filter-name>UsersFilters</filter-name>
    <filter-class>com.trms.filters.UsersFilters</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UsersFilters</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveReimburse</display-name>
    <servlet-name>ApproveReimburse</servlet-name>
    <servlet-class>com.trms.servlets.ApproveReimburse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveReimburse</servlet-name>
    <url-pattern>/ApproveReimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.trms.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeInfoServlet</display-name>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <servlet-class>com.trms.servlets.EmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <url-pattern>/EmployeeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventTypesServlet</display-name>
    <servlet-name>EventTypesServlet</servlet-name>
    <servlet-class>com.trms.servlets.EventTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventTypesServlet</servlet-name>
    <url-pattern>/EventTypesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LearningCentersServlet</display-name>
    <servlet-name>LearningCentersServlet</servlet-name>
    <servlet-class>com.trms.servlets.LearningCentersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LearningCentersServlet</servlet-name>
    <url-pattern>/LearningCentersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeFormatServlet</display-name>
    <servlet-name>GradeFormatServlet</servlet-name>
    <servlet-class>com.trms.servlets.GradeFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeFormatServlet</servlet-name>
    <url-pattern>/GradeFormatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PersonalReimburseServlet</display-name>
    <servlet-name>PersonalReimburseServlet</servlet-name>
    <servlet-class>com.trms.servlets.PersonalReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonalReimburseServlet</servlet-name>
    <url-pattern>/PersonalReimburseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovalReimburseServlet</display-name>
    <servlet-name>ApprovalReimburseServlet</servlet-name>
    <servlet-class>com.trms.servlets.ApprovalReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovalReimburseServlet</servlet-name>
    <url-pattern>/ApprovalReimburseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleReEmpInfoServlet</display-name>
    <servlet-name>SingleReEmpInfoServlet</servlet-name>
    <servlet-class>com.trms.servlets.SingleReEmpInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleReEmpInfoServlet</servlet-name>
    <url-pattern>/SingleReEmpInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGradeServlet</display-name>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <servlet-class>com.trms.servlets.UpdateGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGradeServlet</servlet-name>
    <url-pattern>/UpdateGradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNewAddedInfoServlet</display-name>
    <servlet-name>InsertNewAddedInfoServlet</servlet-name>
    <servlet-class>com.trms.servlets.InsertNewAddedInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNewAddedInfoServlet</servlet-name>
    <url-pattern>/InsertNewAddedInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoReqServlet</display-name>
    <servlet-name>UpdateInfoReqServlet</servlet-name>
    <servlet-class>com.trms.servlets.UpdateInfoReqServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoReqServlet</servlet-name>
    <url-pattern>/UpdateInfoReqServlet</url-pattern>
  </servlet-mapping>
</web-app>