<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServ</display-name>
    <servlet-name>FirstServ</servlet-name>
    <servlet-class>FirstServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServ</servlet-name>
    <url-pattern>/FirstServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServ</display-name>
    <servlet-name>SecondServ</servlet-name>
    <servlet-class>SecondServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServ</servlet-name>
    <url-pattern>/SecondServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployees</display-name>
    <servlet-name>GetEmployees</servlet-name>
    <servlet-class>com.project1.servlets.GetEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployees</servlet-name>
    <url-pattern>/GetEmployees</url-pattern>
  </servlet-mapping>
</web-app>