<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>com.trms.servlets.FrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.trms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUsernameAvailability</display-name>
    <servlet-name>CheckUsernameAvailability</servlet-name>
    <servlet-class>com.trms.servlets.CheckUsernameAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUsernameAvailability</servlet-name>
    <url-pattern>/CheckUsernameAvailability</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.trms.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCurrentEmp</display-name>
    <servlet-name>GetCurrentEmp</servlet-name>
    <servlet-class>com.trms.servlets.GetCurrentEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCurrentEmp</servlet-name>
    <url-pattern>/GetCurrentEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployees</display-name>
    <servlet-name>GetEmployees</servlet-name>
    <servlet-class>com.trms.servlets.GetEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployees</servlet-name>
    <url-pattern>/GetEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>com.trms.servlets.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.trms.filter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/user/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AdminFilter</display-name>
    <filter-name>AdminFilter</filter-name>
    <filter-class>com.trms.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/user/managerUser.jsp</url-pattern>
    <url-pattern>/user/viewAll.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTitle</display-name>
    <servlet-name>UpdateTitle</servlet-name>
    <servlet-class>com.trms.servlets.UpdateTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTitle</servlet-name>
    <url-pattern>/UpdateTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSupervisor</display-name>
    <servlet-name>UpdateSupervisor</servlet-name>
    <servlet-class>com.trms.servlets.UpdateSupervisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSupervisor</servlet-name>
    <url-pattern>/UpdateSupervisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitForm</display-name>
    <servlet-name>SubmitForm</servlet-name>
    <servlet-class>com.trms.servlets.SubmitForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitForm</servlet-name>
    <url-pattern>/SubmitForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupervisorAction</display-name>
    <servlet-name>SupervisorAction</servlet-name>
    <servlet-class>com.trms.servlets.SupervisorAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupervisorAction</servlet-name>
    <url-pattern>/SupervisorAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DhAction</display-name>
    <servlet-name>DhAction</servlet-name>
    <servlet-class>com.trms.servlets.DhAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DhAction</servlet-name>
    <url-pattern>/DhAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationDetail</display-name>
    <servlet-name>ApplicationDetail</servlet-name>
    <servlet-class>com.trms.servlets.ApplicationDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationDetail</servlet-name>
    <url-pattern>/ApplicationDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BcAction</display-name>
    <servlet-name>BcAction</servlet-name>
    <servlet-class>com.trms.servlets.BcAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BcAction</servlet-name>
    <url-pattern>/BcAction</url-pattern>
  </servlet-mapping>
</web-app>