<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1-TRMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterEmp</display-name>
    <servlet-name>RegisterEmp</servlet-name>
    <servlet-class>com.revature.servlets.RegisterEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEmp</servlet-name>
    <url-pattern>/RegisterEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursement</display-name>
    <servlet-name>NewReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.NewReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursement</servlet-name>
    <url-pattern>/newreimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursements</display-name>
    <servlet-name>GetReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursements</servlet-name>
    <url-pattern>/getreimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReimbursement</display-name>
    <servlet-name>EditReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.EditReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReimbursement</servlet-name>
    <url-pattern>/editrei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cost</display-name>
    <servlet-name>Cost</servlet-name>
    <servlet-class>com.revature.servlets.Cost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cost</servlet-name>
    <url-pattern>/Cost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSupervisorReimbursements</display-name>
    <servlet-name>GetSupervisorReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetSupervisorReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSupervisorReimbursements</servlet-name>
    <url-pattern>/getsuperreimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDepartmentReimbursements</display-name>
    <servlet-name>GetDepartmentReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetDepartmentReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDepartmentReimbursements</servlet-name>
    <url-pattern>/getdepreimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetBenefitsReimbursements</display-name>
    <servlet-name>GetBenefitsReimbursements</servlet-name>
    <servlet-class>com.revature.servlets.GetBenefitsReimbursements</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBenefitsReimbursements</servlet-name>
    <url-pattern>/getbenreimburse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomGrading</display-name>
    <servlet-name>GetCustomGrading</servlet-name>
    <servlet-class>com.revature.servlets.GetCustomGrading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomGrading</servlet-name>
    <url-pattern>/getcustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllCustomGrading</display-name>
    <servlet-name>GetAllCustomGrading</servlet-name>
    <servlet-class>com.revature.servlets.GetAllCustomGrading</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllCustomGrading</servlet-name>
    <url-pattern>/getallcustom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatusUpdate</display-name>
    <servlet-name>StatusUpdate</servlet-name>
    <servlet-class>com.revature.servlets.StatusUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusUpdate</servlet-name>
    <url-pattern>/arrei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAttachments</display-name>
    <servlet-name>GetAttachments</servlet-name>
    <servlet-class>com.revature.servlets.GetAttachments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAttachments</servlet-name>
    <url-pattern>/attach</url-pattern>
  </servlet-mapping>
</web-app>