@charset "UTF-8";
body {
    background-image: url("bkg-blu.jpg");
 }

#login-ui {
	width:600px;
	margin-left:25%;
	margin-top: 100px;
	background-color: #808040";
	color: #400000;

}
 
 #about-cont {
 background-color:#c0c0c0;
 margin-top:50px;
 margin-left:50px;
 margin-right:50px;
 padding: 50px;
 }
 #Reimb-insight {
 background-color:#c0c0c0;
 margin-top:50px;
 margin-left:50px;
 margin-right:50px;
 padding: 50px;
 }
 .glyphiconbriefcase, .glyphiconearphone, .mega-dropdown{
 width:5cm;
 text-align: center;
 }
 #trms-view{
 padding:50px;
 height:500px;
 width:700px;
 margin-left:25%;
 }
 
 .footul {
    padding-top: 10px;
    list-style-type: none;
 
 }