<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Reimbursement</display-name>
    <servlet-name>Reimbursement</servlet-name>
    <servlet-class>servlets.Reimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reimbursement</servlet-name>
    <url-pattern>/Reimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggedIn</display-name>
    <servlet-name>LoggedIn</servlet-name>
    <servlet-class>servlets.LoggedIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggedIn</servlet-name>
    <url-pattern>/LoggedIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>servlets.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SecurityFilter</display-name>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>filter.SecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/submitreimbursement.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>servlets.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoReimbursement</display-name>
    <servlet-name>DoReimbursement</servlet-name>
    <servlet-class>servlets.DoReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoReimbursement</servlet-name>
    <url-pattern>/DoReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLoginName</display-name>
    <servlet-name>GetLoginName</servlet-name>
    <servlet-class>servlets.GetLoginName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoginName</servlet-name>
    <url-pattern>/GetLoginName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckReim</display-name>
    <servlet-name>CheckReim</servlet-name>
    <servlet-class>servlets.CheckReim</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckReim</servlet-name>
    <url-pattern>/CheckReim</url-pattern>
  </servlet-mapping>
</web-app>